

@media screen and (min-width: 700px){
   #restaurants-list li {
    padding: 0 5% 5%;
    width: 33%;
    font-size: 2em;
  }

  .inside main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  body  main{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


}

#table_container{
  width: 100%;
  overflow-x: auto;
}
