

@media screen and (min-width: 1200px){
   #restaurants-list li {
    padding: 0 5% 5%;
    max-width: 33%;
    font-size: 2em;
  }

  #restaurant-img {
  margin-left: auto;
    margin-right: auto;
    display: block;
  max-width: 100%;
}

  .inside main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  body  main{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


}

label {
  font-size: 16pt;
  color: white;
}


#table_container{
  min-width: 100%;
  overflow-x: auto;
}

#map-container a{
  color:#093e56;
}

/* html{overflow-x: hidden;} */